---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
    import NetlifyIdentity from './NetlifyIdentity.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div>2022 &copy; Copyright notice</div>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t
    }
</style>
